

div.css-1uoho0a{
    background-color: #35A29F;
    border: 3px solid #d6d6d6;
    padding: 5% 5% 5% 10% ;
    
    border-radius: 5px;
   }
div.st-cp{
    background-color: #35A29F;
    
}

div.st-ey{
    color:black;
}

div.css-z5fcl4{
    padding: 0.1rem 5rem 5rem
}
div.css-10trblm {
    font-size: 30px;
}
div.st-af{
    font-size: 0.9rem;

}
div.st-f0{
    font-size: 0.1rem;
}
div.css-16idsys p{
    font-size : 18px
}


div.st-co{
    background:#35A29F ;
    
}

div.css-fplge5 {
    border: 3px solid #ffffff;

}
div.css-zt5igj{
    background:#35A29F;
    border: 3px solid #d6d6d6;

}
div.css-zt5igj{
    left: calc(-1.5rem);
}
div.st-bq{
    background-color: #ffffff;
}
div.st-ey{
    color:black;
}

div.css-16idsys p{
    font-size: 12px;
}